numpy
pandas
scikit-learn
shapely
seaborn
matplotlib
folium
scipy
jupyter-dash
itsdangerous==2.0.1
sqlalchemy
ipython-sql
pingouin
statsmodels
ipywidgets
plotly.express
permutation_importance
shap
pyplot
mean_squared_error
linear_model
statsmodels.api
scipy.stats
category_encoders
xgboost
